{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width" />
  {% tailwind_css %}
  <title>{% block title %}Default Title{% endblock title %}</title>
  {% comment %} # TODO: Replace styles from this with tailwind {% endcomment %}
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
  <link rel="stylesheet" href={% static "css/base.css"%}>
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
  <div class="page-wrapper">
    <div class="content-wrapper" id="content">
      <div class="content mt-20 text-center">
        {% include 'components/navbar.html' %}

        {% block content %}
        {% endblock content %}
      </div>
    </div>

  </div>

  {% comment %} # TODO: Replace styles from this with tailwind {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>

  <!-- HTMX CDN -->
  <script src="https://unpkg.com/htmx.org@1.1.0"></script> 

  <!-- CSRF request in the headers -->
  <script>
  document.body.addEventListener('htmx:configRequest', (e) => {
    e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>
</body>
</html>
