{% extends "base.html" %}

{% block content %}
<h2> Log in  </h2>
<form method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form }}
  <button type="submit" class='btn mt-5'> log in </button>
</form>
<p>
  Don't have an account?
  <span 
    hx-get="{% url 'account_signup' %}" 
    hx-target="#content"
    hx-trigger="click"
    class= "hyperlink-underline"
    >
    Signup
    </span>
</p>

<hr>
<span 
hx-get="{% url 'account_reset_password' %}" 
hx-target="#content"
hx-trigger="click"
class= "hyperlink-underline"
>
  Forgot your password? 
</span>
{% endblock %}